/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
	--color-background_theme_light: #FFF;
	--color-title_theme_light: #353430;
	--color-minor_theme_light: #FFC2E6;
	--color-main_theme_light #FF8DCB;
}

.page.theme_light {
	
	background-color: var(--color-background_theme_light);
    .header {
		background-image: none;
	}

	.header__title {
		color: var(--color-minor_theme_light);
	}

	.title-div {
		background-color: var(--color-main_theme_light);
	}

	.title__three {
		color: var(--color-title_theme_light);
	}

	.block_title-div {
		background-color: var(--color-main_theme_light);
	}

	.title__two__bold {
		color: var(--color-title_theme_light);
	}

	.text {
		color: var(--color-title_theme_light);
	}

	.block_title-div__second {
		background-color: var(--color-main_theme_light);
	}

	.footer__title {
		color: var(--color-minor_theme_light);
		text-shadow: 2px 2px 0px #FF0070;
	}

	.link {
		text-shadow: 2px 2px 0px var(--color-main_theme_light);
	}

	.header__theme-menu-button {
		color: var(--color-title_theme_light);
	}

	.header__theme-menu-button:hover {
		border: 1px solid rgba(53, 52, 48, 0.4);
	}

	.visually-hidden {
		position: absolute; 
		width: 1px; 
		height: 1px;
		margin: -1px; 
		padding: 0; 
		border: 0; 
		clip: rect(0 0 0 0); 
		overflow: hidden; 
	} 
}