/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
	--color-title-main: #FFC2E6;
	--color-title: #353430;
	--color-main: #FF8DCB;
	--color-minor: #353430;
	--color-text: #353430;
	--color-corner: #353430;
	--background-image: url(../images/cover-image-light.png);
}

.page.theme_light {
	--color-title-main: #FFC2E6;
	--color-title: #353430;
	--color-main: #FF8DCB;
	--color-minor: #353430;
	--color-button: #353430;
	--color-text: #353430;
	--color-corner: #353430;
	--background-image: url(../images/cover-image-light.png);
	.rec {
		position: absolute; 
		width: 1px; 
		height: 1px;
		margin: -1px; 
		padding: 0; 
		border: 0; 
		clip: rect(0 0 0 0); 
		overflow: hidden; 
	}
}

@media (prefers-color-scheme: light) {
  :root {
        /* Дублируем переменные светлой темы */    
		--color-title-main: #FFC2E6;
		--color-title: #353430;
		--color-main: #FF8DCB;
		--color-minor: #353430;
		--color-button: #353430;
		--color-text: #353430;
		--color-corner: #353430;
		--background-image: url(../images/cover-image-light.png);
		.rec {
			position: absolute; 
			width: 1px; 
			height: 1px;
			margin: -1px; 
			padding: 0; 
			border: 0; 
			clip: rect(0 0 0 0); 
			overflow: hidden; 
		}
    }
}
