/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {

	--background-color: #FFF1F7;
	--background-image: url(../images/cover-image-light.png);
    .header {
	}

	.header__title {
		color: var(--color-minor_theme_light);
	}

	.title-div {
		background-color: var(--color-main_theme_light);
	}

	.title__selection {
		color: var(--color-title_theme_light);
	}

	.block_title-div {
		background-color: var(--color-main_theme_light);
	}

	.title__div__bold {
		color: var(--color-title_theme_light);
	}

	.text {
		color: var(--color-title_theme_light);
	}

	.block_title-div__images {
		background-color: var(--color-main_theme_light);
	}

	.footer__title {
		color: var(--color-minor_theme_light);
		text-shadow: 2px 2px 0px #FF0070;
	}

	.link {
		text-shadow: 2px 2px 0px var(--color-main_theme_light);
	}

	.header__theme-menu-button {
		color: var(--color-title_theme_light);
	}

	.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
		border: 1px solid rgba(53, 52, 48, 0.4);
		cursor: pointer;
	}

	.rec::after {
		content: "";
		background: var(--background-color);
		box-shadow: 0 0 0px 0px var(--background-color);	
	}

	.rec::before {
		content: "";
	}
}