/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	max-width: 1024px;
	background-color: var(--background-color);
}

.header {
	object-fit: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: var(--background-image);
	display: grid;
	grid-template-rows: 45px 403px 184px 135px;
	grid-template-columns: 0px minmax(375px, 979px) 0px;
	margin-bottom: 60px;
}

.header__theme-menu {
	grid-column-start: 2;
	grid-row-start: 1;
}

.header__theme-menu-list {
	display: flex;
	justify-content: center;
	padding: 0px 0px 0px 0px;
}

.header__theme-menu-item {
	list-style-type: none;
	border: 0px solid;
	background: transparent;
	outline: none;
	margin: 10px 10px 10px 0px;
}

.header__theme-menu-button {
	background: transparent;
	color: var(--color-main);
	outline: none;
	border: 0px solid;
	font-size: 18px;
	text-transform: lowercase;
	font-family: var(--font-family);
}

.header__theme-menu-button_active {
	border: 1px solid;
	pointer-events: none;
}

.header__title {
	margin-top: auto;
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	font-weight: 700;
	text-shadow: 4px 4px 0px var(--color-main);
	line-height: 120px;
	font-family: var(--font-family);
	grid-column-start: 2;
	grid-row-start: 2;
}

.title-div {
	background-color: var(--color-main);
	margin-top: auto;
	max-width: 491px;
	margin-left: auto;
	grid-column-start: 2;
	grid-row-start: 3;
}

.title__div__bold {
	color: var(--color-minor);
	font-size: 18px;
	font-weight: bold;
	font-family: var(--font-family);
	margin-top: auto;
}

.title__text__regular {
	color: var(--color-minor);
	font-size: 18px;
	font-weight: 400;
	font-family: var(--font-family);
}

.title__selection {
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-family);
}

.text {
	color: #F1B2CE;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
	font-family: var(--font-family);
}

.corner-left-position-header {
	grid-column-start: 1;
	grid-row-start: 4;
}

.corner-right-position-header {
	grid-column-start: 3;
	grid-row-start: 1;
}

.rec {
	position: absolute;
	display: block;
	align-items: center;
	top: 25px;
	right: 29px;
}

.rec::before {
	content: "rec";
	text-transform: uppercase;
	color: var(--color-main);
	font-size: 18px;
	font-weight: 400;
	font-family: var(--font-family);
}

.rec::after {
	content: "vv";
	vertical-align: 5px;
	font-size: 9px;
	color: var(--color-main);
	background: var(--color-main);
	border-radius: 50%;
	box-shadow: 0 0 4px 2px var(--color-main);	
	margin-left: 10px;
}

.title__of__selection__div {
	max-width: 335px;
	margin-left: 20px;
}

.title__of__selection__div__litle {
	max-width: 145px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.block_title-div {
	margin-bottom: 20px;
}

.block_title-div__images {
	max-width: 984px;
	background-color: var(--color-main);
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.section__title-left-text-right {
	display: flex;
}

.section__content_under_title {
	margin-top: 80px;
	margin-bottom: 80px;
}

.selection_div_text__one_column {
	max-width: 648px;
	margin-left: 20px;
	margin-right: 20px;
}

.link {
	text-shadow: 2px 2px 0px var(--color-main);
}

.selection_div_text__many_columns {
	display: flex;
}

.text__div {
	margin-bottom: 20px;
}

.many_columns__selection_text {
	margin-left: 20px;
	margin-right: 20px;
}

.div__images {
	display: grid;
	grid-template-columns: repeat(3, 230px);
	grid-template-rows: 190px 230px 320px;
	gap: 20px;
	grid-auto-rows: 230px;
	grid-auto-flow: dense;
	justify-content: center
}

.image_books {
	max-width: 230px;
	max-height: 230px;
	object-fit: cover;
}

.images_sunset_and_street {
	max-width: 479px;
	object-fit: cover;
}

.image_ice-cream {
	max-width: 229px;
	height: 441px;
	object-fit: cover;
}

.image_tape {
	max-width: 229px;
	height: 568px;
	object-fit: cover;
}

.block-big--1 {
	grid-column-start: 1;
	grid-column-end: span 2;
}

.block-big--2 {
	grid-column-start: 3;
	grid-row-end: span 2;
}

.block-big--3 {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: span 3;
}

.block-big--4 {
	grid-column-start: 2;
	grid-row-start: 3;
}

.footer {
	max-width: 100%;
	margin-top: 320px;
	display: grid;
	grid-template-columns: 0px 1024px 0px;
	grid-template-rows: 0px 768px 0px;
}

.corner-left {
	width: 25px;
	height: 25px;
	border-left: 1px solid var(--color-main);
	border-bottom: 1px solid var(--color-main);
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: auto;
}

.corner-left-position-footer {
	grid-column-start: 1;
	grid-row-start: 3;
}

.corner-right {
	width: 25px;
	height: 25px;
	border-right: 1px solid var(--color-main);
	border-top: 1px solid var(--color-main);
	margin-top: 20px;
	margin-right: 20px;
}

.corner-right-position-footer {
	grid-column-start: 3;
	grid-row-start: 1;
}

.footer__title {
	display: block;
	grid-column-start: 2;
	grid-row-start: 2;
	margin: auto;
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	font-weight: 700;
	text-align: center;
	font-family: var(--font-family);
}

.link:hover {
	border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:focus {
	border-bottom: 1px solid currentColor;
}

.link:focus-visible {
	display: inline-block;
	line-height: 0.85;
	border: none;
	outline: 1px solid currentColor;
}

@media (width <= 768px) {

	.header__theme-menu-list {  
		display: flex;
        padding: 0px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
	}

	.header__theme-menu {
		grid-column-start: 3;
		grid-row-start: 2;
		width: 70px;
		margin-top: 147px;
	}

	.footer {
		grid-template-columns: 0px 768px 0px;
		grid-template-rows: 0px 1024px 0px;
	}

    .header {
		grid-template-columns: 0px minmax(375px, 698px) 0px;
    }

	.header__title {
		margin-top: 173px;	
	}
	.footer__title {
		font-size: 120px;
	}

    .selection_div_text__many_columns {
        display: block;
    }

    .many_columns__selection_text {
        margin-bottom: 20px;
    }

	.title-div {
		margin-top: auto;
		width: 364px;
		margin-right: 0px;
		margin-left: 400px;
	}

	.corner-right-position-header {
		margin-left: 25px;
		margin-bottom: 25px;
	}

	.header__theme-menu-item {
		margin: 10px 20px 10px 0px;
	}
}

@media (width <= 375px) { 
	
	.header {
		display: block;
		margin-bottom: 40px;
    }

	.rec {
		top: 15px;
		right: 19px;
	}

	.title-div {
		margin-bottom: 31px;
		width: 355px;
		margin-right: auto;
		margin-left: auto;
	}

	.header__theme-menu {
		margin-bottom: auto;
		margin-left: auto;
		margin-top: 30px;
	}

	.corner-right-position-header {
		margin-bottom: 40px;
		margin-left: auto;
		margin-top: 10px;
		margin-right: 10px;
	}

    .section__title-left-text-right {
        display: block; 
    }

    .title__of__selection__div {
        margin-bottom: 20px;
    }

    .div__images {
        display: block;
    }

    .image_books {
        max-width: 355px;
        max-height: 355px;
    }

    .images_sunset_and_street {
        max-width: 355px;
        max-height: 355px;
    }

    .image_ice-cream {
        max-width: 355px;
        max-height: 355px;
    }

    .image_tape {
        max-width: 355px;
        max-height: 355px;
    }

	.header__title {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
		margin-top: 65px;
		margin-bottom: 55px;
    }

	.footer {
		display: block;
	}

	.footer__title {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
		margin-top: 251px;
		margin-bottom: 250px;
	}

	.corner-left-position-footer {
		margin-bottom: 10px;	
		margin-left: 10px;
	}

	.corner-right-position-footer {
		margin-top: 10px;
		margin-right: 10px;
		margin-left: auto;
	}

	.header__theme-menu-item {
		margin: 10px 10px 10px 0px;
	}

	.corner-left-position-header {
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.corner-right-position-header {
		margin-right: 10px;
		margin-top	: 10px;
	}
}