/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
	--font-family:  'IBM Plex mono', sans-serif;

	--color-title: #DB00FF;
	--color-main: #FF0070;
	--color-minor: #000028;
	--background-image: url(../images/cover-image-light.png);
	--color-background_theme_light: #FFF;
	--color-title_theme_light: #353430;
	--color-minor_theme_light: #FFC2E6;
	--color-main_theme_light: #FF8DCB;
    color-scheme: light dark;
}