/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
@media (width <= 768px) {
	.header__theme-menu-list {  
		display: flex;
        padding: 0px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 195px;
	}

    .header__title {
        margin-top: 205px;
    }

    .second__selection_div_text {
        display: block;
    }

    .second__selection_text {
        margin-bottom: 20px;
    }
}

@media (width <= 375px) { 
    .section__first {
        display: block;
    }

    .title__of__selection__div {
        margin-bottom: 20px;
    }

    .div__images {
        display: block;
    }

    .images {
        max-width: 355px !important;
        max-height: 355px !important;
    }

    .images1 {
        max-width: 355px !important;
        max-height: 355px !important;
    }

    .images2 {
        max-width: 355px !important;
        max-height: 355px !important;
    }

    .images3 {
        max-width: 355px !important;
        max-height: 355px !important;
    }
}